<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <title>Cherry!</title>
</head>
<body>
  <div id="flashcard-app" class="container">
    <img class="mx-auto d-block" src="images/superbarnner.jpg" style="max-width: 1200px; max-height: 200px" />
    <div v-if="isShow" class="top-item">
      <label for="mInput">Input
        <input v-model.trim="allcontent" type="text" id="allcontent">
        <button class="button3" v-on:click="Loading">Loading</button>
      </label>
      <label for="moutput">Output
        <input v-model.trim="questioncode" type="text" id="questioncode">
      </label>
      <ul>
        <li v-for="n in mCount">
          <div>
            <button v-bind:class="'button'+n%2" v-on:click="keepContent(n)">Keep{{n}}</button>
            <button v-bind:class="'button'+n%2" v-on:click="GetContent(n)">Get{{n}}</button>
          </div>
        </li>
      </ul>
    </div>

<br/>
    <div class="flashcard-form">
      <label for="front">Front
        <input v-model.trim="newFront" type="text" id="front">
      </label>
      <label for="back">Back
        <input v-on:keypress.enter="addNew" v-model.trim="newBack" type="text" id="back">
      </label>
      <button class="button3" v-on:click="addNew">Add a New Card</button>
      <span v-if="isShow">
        <button class="button0" v-on:click="getShow">Hidden</button>
      </span>
      <span  v-else>
        <button class="button0" v-on:click="getShow">Show</button>
      </span>
      <span class="error" v-show="error">Oops! Flashcards need a front and a back.</span>
    </div>

    <ul class="flashcard-list">
      <li v-for="(card, index) in cards" v-on:click="toggleCard(card)">
        <transition name="flip">
          <p class="card"  v-if="card.flipped === 1" key="number">
            
            <span v-if="index === pickUpNumber">選我選我</span>
            <span v-else="index === pickUpNumber">{{index+1}}</span>
            <span class="delete-card" v-on:click="cards.splice(index, 1);randomNumber();">X</span>
          </p>
          <p class="card" v-else-if="card.flipped === 2" key="front">
            {{card.front}}
            <span class="delete-card" v-on:click="cards.splice(index, 1);randomNumber();">X</span>
          </p>
          <p class="card" v-else-if="card.flipped === 3" key="back">
            {{card.back}}
            <span class="delete-card" v-on:click="cards.splice(index, 1);randomNumber();">X</span>
          </p>
        </transition>
      </li>
    </ul>
    <!-- Alternative solution -->
    <!-- <ul class="flashcard-list">
      <li v-for="(card, index) in cards" v-on:click="toggleCard(card)">
        <transition name="flip">
            <p class="card" v-bind:key="card.flipped">
              {{ card.flipped ? card.back : card.front }}
              <span class="delete-card" v-on:click="cards.splice(index, 1)">X</span>
            </p>
        </transition>
      </li>
    </ul> -->
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-database.js"></script>
<script src="app.js"></script>
</body>
</html>
